/*
red = #EC1A23;
green = #046637; dark
green = #3AC509; light
purple = #272E40;
brown = #BBB36B; light
box-shadow: 0 3px 5px rgba(0,0,0,0.2);
*/
body{
	overflow-x: hidden;
}

.header .active{
	margin-top: 10px;
	background-color: rgba(255,11,30,1); /*lightred*/
	box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	translation: margin-top 1.5s;
}

.header{
	height: 60px;
	padding-top: 10px;
	background-color: rgba(207,0,15,1); /*red*/
	color: white;
	border-radius: 0px;
	border: 0px;
	position: fixed;
	margin-bottom: 0;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.menulist{
	display: none;
	width: 100%;
	height: auto;
	background-color: rgba(255,255,255,0.7);
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 60px;
	z-index: 102;
	padding: 30px 50px 20px 100px;
	border-bottom: 3px solid rgba(236, 26, 35, 0.7);
}

.menulist img{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}

.menu-item{
	position: relative;
	width: 200px;
	height: 150px;
	background-color: transparent;
	color: white;
	margin: 10px;
	display: inline-block;
}

.menu-item span{
	position: absolute;
	width: 100%;
	height: 100%;
/*	box-sizing: border-box;
	border: 10px solid transparent;*/
} 

.menu-item span>h4{
	position: relative;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 50px;
	padding: 5px 10px 5px 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 100px;
}

.menu-item span>p{
	display: none;
	position: relative;
	padding: 5px 10px 5px 10px;
}

.menu-item img{
	width: 100%;
	height: 100%;
	position: absolute;
}

.menu-item:hover{
	cursor: pointer;
}

.menu-item:hover span>h4{
	margin-top: 10px;
	background-color: transparent;
}

.menu-item:hover span>p{
	display: inline-block;
}

.menu-item:hover span{
	background-color: rgba(0,0,0,0.7);
	border-top-left-radius:0;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}

.header li{
	width: 150px;
	text-align: center;
	color: white;
	font-size: 18px;
	padding: 10px;
	z-index: 101;
	position: relative;
}

.header li:hover{
	cursor: pointer;
	color: white;
	border-bottom: 5px solid white;
}

.header li > div{
	padding: 0 1000em; /* trick from css-tricks comments */
	margin: 0 -1000em; /* trick from css-tricks comments */
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	list-style: none;
	z-index: 100;
}

.header li > ul > div{
	font-size: 13px;
	line-height: 0px;	
}

.header li > div > div > img{
	width: 150px;
	height: 150px;
	padding: 10px 0 10px 0;
	border-radius: 50%;
}

/*content*/
.content{
	z-index: -1;
	position: static;
}

.content-item{
	background-color: white;
	width: 100%;
	height: 745px;
	text-align: center;
}

.wrap-serang{
	height: 300px;
	background-color: #0d47a1;
}

/*.garis-judul{
	background-color: #ffffff;
	height: 3px;
	margin-top: 20px;
}
*/
.garis{
	background-color: rgba(170, 0, 15, 1);
	height: 1px;
}

.wrap-serang h2{
	color: #ffffff;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	font-weight: 700;
}

.serang .col-md-9{
	padding-left: 0px;
	padding-right: 0px;
}

.saf{
	height: 150px;
	background-color: #0d47a1;
}
.gambar{
	background-color: #b71c1c;
	height: 150px;
}

/*footer*/
.footer{
	background-color: rgba(207,0,15,1);
	height: auto;
	color: white;
	padding: 20px 100px 20px 100px;
}

.footer h1, h2, h3, h4{
	margin-bottom: 20px;
}

.footer i.fa{
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer a{
	color: rgba(255,255,255,0.5);
}

.footer a:hover{
	color: white;
	text-decoration: none;
}

.content-header {
	padding-top: 30px;
	width: auto;
	height: 460px;
	overflow: hidden;
	position: relative;
	z-index: 10;
}

.content-header img{
	padding-top: 110px;
	position: absolute;
	left: -100%;
	right: -100%;
	top: -100%;
	bottom: -100%;
	margin: auto; 
	height: auto;
	width: 100%;
}

.content-header .content-title{   
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	height: 400px;
	margin: 10px 10px 10px 10px;
	background:  rgba(255, 255, 255, 0.5);
}

.content-header .content-title h3{
	color: black;
	position: relative;
	text-align: center;
	top: 50%;
}

.image-list img{
	display: inline-block;
	width: 150px;
	height: auto;
	margin: 10px 10px 10px 10px;
}

.content-description{
	margin-top: 60px;
	text-align: justify;
}

.related-post{
	position: relative;
	width: 290px;
	height: 225px;
	background-color: transparent;
	color: white;
	margin: 10px;
	display: inline-block;
}

.related-post span{
	position: absolute;
	width: 100%;
	height: 100%;
} 

.related-post span>h3{
	position: relative;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 50px;
	padding: 5px 10px 5px 10px;
	margin-top: 175px;
}

.related-post span>h4{
	display: none;
	position: relative;
	padding: 5px 10px 5px 10px;
}

.related-post img{
	width: 100%;
	height: 100%;
	position: absolute;
}

.related-post:hover{
	cursor: pointer;
}

.related-post:hover span>h3{
	margin-top: 10px;
	background-color: transparent;
}

.related-post:hover span>h4{
	display: inline-block;
}

.related-post:hover span{
	background-color: rgba(0,0,0,0.7);
}